@charset "utf-8";
/* CSS Document */

@import "common.css";
@import "layout.css";

#Login {margin:150px auto 0 ; width:618px; height:277px; background:url(../images/login/bg_login.gif) no-repeat left top;}
.login {padding:159px 0 0 113px; width:377px; position:relative;}
#Login a, #Login label {font-size:11px;color:#6b6b6b; }
.login label input {margin-bottom:3px; width:219px; height:19px; font-family:verdana; line-height:19px; border-top:1px solid #939394; border-left:1px solid #939394; border-right:0; border-bottom:0; padding-left:10px; background:#cac9cb; }
.login .loginBtn {position:absolute; margin:-25px 0 0 0;}
.login .idInput .bg {background:#cac9cb url(../images/login/bg_id.gif) no-repeat;}
.login .pwInput .bg {background:#cac9cb url(../images/login/bg_pw.gif) no-repeat;}

#Login p.pwS {background:url(../images/login/bg_pws.gif) no-repeat left 3px; padding-left:15px; text-decoration:underline; margin:10px 0 0 113px;  }