ul.submenu li a.submenu-kontagent-button:hover span {
	background:#000000 url(../images/bg-kontagent-button-hover.png) repeat-x scroll;
	cursor: pointer;
}

ul.submenu li a.submenu-kontagent-button-disabled:hover span {
	background:none;
}


ul.submenu li a.submenu-kontagent-button {
	-moz-border-radius:5px 5px 5px 5px;
	background:url("../images/bg-kontagent-button.png") repeat-x scroll 0 0 #000000;
	border:2px solid #000000;
	color:#FFFFFF;
	display:inline-block;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	outline:medium none;
	padding:0px 0px;
	height: 15px;
	margin-left: 10px;
}

ul.submenu li a.submenu-kontagent-button span,
ul.submenu li a.submenu-kontagent-button-disabled span{
	color:#FFFFFF;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	text-align:center;
	text-decoration:none;
	padding: 0px 5px;
}

ul.submenu li a.submenu-kontagent-button-disabled {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-x-system-font:none;
	background:#000000 url(../images/bg-kontagent-button-disabled.png) repeat-x scroll ;
	border: 2px solid #999999;
	color:#FFFFFF;
	display: inline-block;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	outline:medium none;
	padding:0px 0px;
	height: 15px;
	cursor: default;
	margin-left: 10px;
}

ul.submenu li a span.private {
}

ul.submenu li a span.shared {
}

ul.submenu li a span.public {
}