<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<title>DataView {{ app.version }} - {% block title %} {% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="icon" type="image/png" href="/media/images/favicon.png" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="/media/css/screen.css" />
	<link rel="stylesheet" href="/media/css/jquery-ui.css" />
	{% block header %}
	{% endblock %}
</head>
<body>
<div id="header">
    <div class="wrapper">
        <a href="/" class="logo"></a>
	   
	    <ul id='menu' class='default'>
                <li>
					<a class='{% if current_page=='processed_data' %}active{% endif %}' href="/">Processed Data</a>
				</li>
				<li>
					<a class='{% if current_page=='discovery' %}active{% endif %}' href="/discovery">Discovery</a>
				</li>
				<li>
					<a class='{% if current_page=='emails' %}active{% endif %}' href="/emails">Emails</a>
				</li>
				<li>
					<a class='{% if current_page=='events' %}active{% endif %}' href="/events">Events</a>
				</li>
                <li>
					<a class='{% if current_page=='installs' %}active{% endif %}' href="/installs">Installs</a>
				</li>
				<li>
					<a class='{% if current_page=='invites' %}active{% endif %}' href="/invites">Invites</a>
				</li>
				<li>
					<a class='{% if current_page=='messages' %}active{% endif %}' href="/messages">Messages</a>
				</li>
                <li>
					<a class='{% if current_page=='monetization' %}active{% endif %}' href="/monetization">Monetization</a>
				</li>
				<li>
					<a class='{% if current_page=='notifications' %}active{% endif %}' href="/notifications">Notifications</a>
				</li>
				<li>
					<a class='{% if current_page=='virality' %}active{% endif %}' href="/virality">Virality</a>
				</li>
                <li>
					<a class='{% if current_page=='returning_users' %}active{% endif %}' href="/returning_users">Returning  Users</a>
				</li>
				<li>
					<a class='{% if current_page=='stream' %}active{% endif %}' href="/stream">Stream</a>
				</li>
				<li>
					<a class='{% if current_page=='traffic' %}active{% endif %}' href="/traffic">Traffic</a>
				</li>
                <li>
					<a class='{% if current_page=='time' %}active{% endif %}' href="/time">Time</a>
				</li>
				<li>
					<a class='{% if current_page=='user_distribution' %}active{% endif %}' href="/user_distribution">User Distribution</a>
				</li>
                <li>
					<a class='{% if current_page=='user_retention' %}active{% endif %}' href="/user_retention">User Retention</a>
				</li>
				<li>
					<a class='{% if current_page=='user_sessions' %}active{% endif %}' href="/user_sessions">User Sessions</a>
				</li>
				<li>
					<a class='{% if current_page=='unique_visitors' %}active{% endif %}' href="/unique_visitors">Unique Visitors</a>
				</li>
				{% if acl == "True" and app.user %}
				<li>
					<a class='top {% if current_page=='settings' %}active{% endif %}' href="/settings">Settings</a>
				</li>
				{% endif %}
			</ul>
			 {% if acl == "True" %}
				<a href="{{ base_url|url('logout') }}" class='logout' title='Logout'>Logout</a>
			{% endif %}
    </div><!-- wrapper end -->
</div><!-- header end -->
<div class="wrapper">
	<div id="content">
	<div id="breadcrumb">
    <ul>
        {% block breadcrumb %}
        {% endblock breadcrumb %}
    </ul>
    </div>
	{% block filter %}{% endblock %}
	{% block content %}
	{% endblock %}
	</div><!-- content end -->
</div><!-- wrapper end -->
	<script type="text/javascript" src='/media/js/jquery-1.7.2.min.js'></script>
	<script type="text/javascript" src='/media/js/date.format.min.js'></script>
	<script type="text/javascript" src='/media/js/jquery.relative-date.js'></script>
	<script type="text/javascript" src='/media/js/moment.min.js'></script>
	{% block js %}
	{% endblock %}
</body>
</html>
