{% extends "base.html" %}
{% block title %}Game Setting{% endblock %}

{% block sidemenu %}
<ul class="sMenu">
    <a href=""><li><img src="media/images/common/img_smenuicon_02.gif" />Game Setting</li></a>
</ul>
{% endblock %}

{% block content %}
<div>
<!--ㅡMain Menu -->
<h2>Dashboard</h2>
<!-- sub menu -->
<h3>Activity</h3>
<!-- chart view -->
<div class="chart">
    <form action="http://localhost:8888/index" id="act_filter-form">
        <table>
            <tr>
                <th align=left>
                    <label for="act_charts">Select charts</label>
                </th>
                <th align=left>
                    <label for="act_date_range">Date Range</label>
                </th>
                <th align=left>
                    <label for="">From</label>
                </th>
                <th align=left>
                    <label for="">To</label>
                </th>
                <th align=left>
                    <label for="">Group</label>
                </th>
                <th align=left>
                </th>
            </tr>
            <tr>
                <td>
                    <select id='act_charts_select' name='act_charts' style="width:150px;">
                        <option  value="all">All</option>
                        <option  value="dau">DAU</option>
                        <option  value="apa">Installed</option>
                        <option  value="apr">Uninstalled</option>
                        <option  value="inv">Invite Count</option>
                        <option  value="lgn">Login Count</option>
                        <option  value="ret">Retention</option>
                    </select>
                </td>
                <td>
                    <select id='act_date_range_select' name="act_date_range" style="width:150px;" >
                        <option  value="1">Last 1 day</option>
                        <option  value="7k">Last 7 days</option>
                        <option  value="30">Last 30 days</option>
                        <option  value="custom">Custom Range</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="act_date_from" id="act_date_from" />
                </td>
                <td>
                    <input type="text" name="act_date_to" id="act_date_to" />
                </td>
                <td>
                    <select id='act_group_select' name="act_group" style="width:100px;" >
                        <option  value="none">없음</option>
                        <option  value="level">레벨별</option>
                        <option  value="friends">친구수별</option>
                    </select>
                </td>
                <td>
                    <input type="submit" class="button update" value="Update" />
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- sub menu -->
<h3>Monetization</h3>
<!-- chart view -->
<div class="chart">
    <form action="http://localhost:8888/index" id="mony_filter-form">
        <table>
            <tr>
                <th align=left>
                    <label for="money_charts">Select charts</label>
                </th>
                <th align=left>
                    <label for="money_date_range">Date Range</label>
                </th>
                <th align=left>
                    <label for="">From</label>
                </th>
                <th align=left>
                    <label for="">To</label>
                </th>
                <th align=left>
                    <label for="">Group</label>
                </th>
                <th align=left>
                </th>
            </tr>
            <tr>
                <td>
                    <select id='money_charts_select' name='money_charts' style="width:150px;">
                        <option  value="all">All</option>
                        <option  value="dau">DAU</option>
                        <option  value="apa">Installed</option>
                        <option  value="apr">Uninstalled</option>
                        <option  value="inv">Invite Count</option>
                        <option  value="lgn">Login Count</option>
                        <option  value="ret">Retention</option>
                    </select>
                </td>
                <td>
                    <select id='money_date_range_select' name="money_date_range" style="width:150px;" >
                        <option  value="1">Last 1 day</option>
                        <option  value="7">Last 7 days</option>
                        <option  value="30">Last 30 days</option>
                        <option  value="custom">Custom Range</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="money_date_from" id="money_date_from" />
                </td>
                <td>
                    <input type="text" name="money_date_to" id="money_date_to" />
                </td>
                <td>
                    <select id='money_group_select' name="money_group" style="width:100px;" >
                        <option  value="none">없음</option>
                        <option  value="level">레벨별</option>
                        <option  value="friends">친구수별</option>
                    </select>
                </td>
                <td>
                    <input type="submit" class="button update" value="Update" />
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- sub menu -->
<h3>Events</h3>
<!-- chart view -->
<div class="chart"></div>
<!--ㅡMain Menu -->
<h2>Custom</h2>
<!-- sub menu -->
<h3>Activity</h3>
<!-- chart view -->
<div class="chart"></div>
<!-- sub menu -->
<h3>Monetization</h3>
<!-- chart view -->
<div class="chart"></div>
</div>
{% endblock %}

{% block js %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='/media/js/jquery-ui-timepicker-addon.js'></script>
<script>
$(document).ready(function() {
    $("#act_date_from").datepicker({
        dateFormat:'yy-mm-dd',
        changeMonth:true,
        changeYear:true,
        showButtonPanel:true,
        beforeShow: function(element, object) {
            dateRange = $("#act_date_range_select option:selected").val();
            if ( dateRange == "custom" ) {
                $('#act_date_from').datetimepicker("option",{minDate:null});        //-> 'minDate' 설정 초기화
            } else {
                startDate = - parseInt(dateRange);
                endDate = -1; // 기준 날짜 (어제)
                return {
                    minDate: startDate,
                    maxDate: endDate
                }
            }
        },
        onClose : function(dateText, inst) {
        },
        onSelect: function (selectedDateTime){
        }
    });
    $("#act_date_to").datepicker({
        dateFormat:'yy-mm-dd',
        changeMonth:true,
        changeYear:true,
        showButtonPanel:true,
        beforeShow: function(element, object) {
            dateRange = $("#act_date_range_select option:selected").val();
            if ( dateRange == "custom" ) {
                $('#act_date_to').datetimepicker("option",{minDate:null});        //-> 'minDate' 설정 초기화
            } else {
                startDate = - parseInt(dateRange);
                endDate = -1; // 기준 날짜 (어제)
                return {
                    minDate: startDate,
                    maxDate: endDate
                }
            }
        },
        onClose : function(dateText, inst) {
        },
        onSelect: function (selectedDateTime){
        }
    });
    $("#money_date_from").datepicker({
        dateFormat:'yy-mm-dd',
        changeMonth:true,
        changeYear:true,
        showButtonPanel:true,
        beforeShow: function(element, object) {
            dateRange = $("#money_date_range_select option:selected").val();
            if ( dateRange == "custom" ) {
                $('#money_date_from').datetimepicker("option",{minDate:null});        //-> 'minDate' 설정 초기화
            } else {
                startDate = - parseInt(dateRange);
                endDate = -1; // 기준 날짜 (어제)
                return {
                    minDate: startDate,
                    maxDate: endDate
                }
            }
        },
        onClose : function(dateText, inst) {
        },
        onSelect: function (selectedDateTime){
        }
    });
    $("#money_date_to").datepicker({
        dateFormat:'yy-mm-dd',
        changeMonth:true,
        changeYear:true,
        showButtonPanel:true,
        beforeShow: function(element, object) {
            dateRange = $("#money_date_range_select option:selected").val();
            if ( dateRange == "custom" ) {
                $('#money_date_to').datetimepicker("option",{minDate:null});        //-> 'minDate' 설정 초기화
            } else {
                startDate = - parseInt(dateRange);
                endDate = -1; // 기준 날짜 (어제)
                return {
                    minDate: startDate,
                    maxDate: endDate
                }
            }
        },
        onClose : function(dateText, inst) {
        },
        onSelect: function (selectedDateTime){
        }
    });
});

</script>
{% endblock %}
