{% extends "base.html" %}
{% block title %}Game Setting{% endblock %}

{% block sidemenu %}
<ul class="sMenu">
    <a href=""><li><img src="media/images/common/img_smenuicon_02.gif" />Game Setting</li></a>
</ul>
{% endblock %}

{% block content %}
<h2>
    <form action="{{ base_url|url('basic') }}">
        <table>
            <tr>
                <th align=left>
                    <label for="selected_chart">Select charts</label>
                </th>
                <th align=left>
                    <label for="date_range">Date Range</label>
                </th>
                <th align=left>
                    <label for="date_from">From</label>
                </th>
                <th align=left>
                    <label for="date_to">To</label>
                </th>
                <th align=left>
                    <label for="group">Group</label>
                </th>
                <th align=left>
                </th>
            </tr>
             <tr>
                <td>
                    <select id='selected_chart' name='selected_chart' style="width:150px;">
                        <option {% if selected_chart == 'all' %}selected="selected"{% endif %} value="all">All</option>
                        <option {% if selected_chart == 'dau' %}selected="selected"{% endif %} value="dau">Dau</option>
                        <option {% if selected_chart == 'installs' %}selected="selected"{% endif %} value="installs">Installed</option>
                        <option {% if selected_chart == 'removals' %}selected="selected"{% endif %} value="removals">Uninstalled</option>
                        <option {% if selected_chart == 'invites' %}selected="selected"{% endif %} value="invites">Invite Counts</option>
                        <option {% if selected_chart == 'logins' %}selected="selected"{% endif %} value="logins">Login Counts</option>
                        <option {% if selected_chart == 'retention' %}selected="selected"{% endif %} value="retention">Retention</option>
                        <option {% if selected_chart == 'return' %}selected="selected"{% endif %} value="return">Returning Users</option>
                        <option {% if selected_chart == 'viral' %}selected="selected"{% endif %} value="viral">Virality</option>
                        <option {% if selected_chart == selected_chart == 'revenue' %}selected="selected"{% endif %} value="revenue">Revenue</option>
                        <option {% if selected_chart == 'items' %}selected="selected"{% endif %} value="items">Items</option>
                    </select>
                </td>
                <td>
                    <select id='date_range' name="date_range" style="width:150px;" >
                        <option {% if date_range == '1' %}selected="selected"{% endif %} value="1">Last 1 day</option>
                        <option {% if date_range == '7' %}selected="selected"{% endif %} value="7">Last 7 days</option>
                        <option {% if date_range == '30' %}selected="selected"{% endif %} value="30">Last 30 days</option>
                        <option {% if date_range == 'custom' %}selected="selected"{% endif %} value="custom">Custom Range</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="date_from" id="date_from" style="width:210px;" value="{{ date_from }}"/>
                </td>
                <td>
                    <input type="text" name="date_to" id="date_to" style="width:210px;" value="{{ date_to }}"/>
                </td>
                <td>
                    <select id='group' name="group" style="width:120px;" >
                        <option {% if group == 'None' %}selected="selected"{% endif %} value="None">없음</option>
                        <option {% if group == 'level' %}selected="selected"{% endif %} value="level">레벨별</option>
                        <option {% if group == 'friends' %}selected="selected"{% endif %} value="friends">친구수별</option>
                    </select>
                </td>
                <td>
                    <input type="submit" class="button update" value="Update" />
                </td>
            </tr>
        </table>
    </form>
</h2>
<div>
<!--ㅡMain Menu -->
<h2>Dashboard</h2>
<!-- sub menu -->
<h3>Activity</h3>
<!-- chart view -->
<div class="chart">


</div>
<!-- sub menu -->
<h3>Monetization</h3>
<!-- chart view -->
<div class="chart">
</div>
<!-- sub menu -->
<h3>Events</h3>
<!-- chart view -->
<div class="chart"></div>
<!--ㅡMain Menu -->
<h2>Custom</h2>
<!-- sub menu -->
<h3>Activity</h3>
<!-- chart view -->
<div class="chart"></div>
<!-- sub menu -->
<h3>Monetization</h3>
<!-- chart view -->
<div class="chart"></div>
</div>
{% endblock %}

{% block js %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src='/media/js/jquery-ui-timepicker-addon.js'></script>
<script>
$(document).ready(function() {
    var endDate = -1; // 기준일: 하루전
    $("#date_from").datepicker({
        dateFormat:'yy-mm-dd',
        changeMonth:true,
        changeYear:true,
        showButtonPanel:true,
        beforeShow: function(element, object) {
            dateRange = $("#date_range option:selected").val();
            if ( dateRange == "custom" ) {
                return {
                    minDate: null,
                    maxDate: endDate
                }
            } else {
                startDate = - parseInt(dateRange);
                return {
                    minDate: startDate,
                    maxDate: endDate
                }
            }
        },
        onClose : function(dateText, inst) {
        },
        onSelect: function (selectedDateTime){
        }
    });
    $("#date_to").datepicker({
        dateFormat:'yy-mm-dd',
        changeMonth:true,
        changeYear:true,
        showButtonPanel:true,
        beforeShow: function(element, object) {
            dateRange = $("#date_range option:selected").val();
            if ( dateRange == "custom" ) {
                return {
                    minDate: null,
                    maxDate: endDate
                }
            } else {
                startDate = - parseInt(dateRange);
                return {
                    minDate: startDate,
                    maxDate: endDate
                }
            }
        },
        onClose : function(dateText, inst) {
        },
        onSelect: function (selectedDateTime){
        }
    });
});
</script>
{% endblock %}
