{% extends "base.html" %}
{% block title %}DataPro{% endblock %}

{% block sidemenu %}
<ul class="sMenu">
    <a href=""><li><img src="media/images/common/img_smenuicon_01.gif" />Dashboard</li></a>
    <a href=""><li><img src="media/images/common/img_smenuicon_02.gif" />Custom</li></a>
    <a href=""><li><img src="media/images/common/img_smenuicon_03.gif" />Funnel</li></a>
    <a href=""><li><img src="media/images/common/img_smenuicon_04.gif" />Realtime</li></a>
</ul>
{% endblock %}

{% block content %}
<h2>
    <form action="{{ base_url|url('index') }}">
        <table>
            <tr>
                <th align=left>
                    <label for="selected_chart">Select chart</label>
                </th>
                <th align=left>
                    <label for="date_range">Date Range</label>
                </th>
                <th align=left>
                    <label for="date_from">From</label>
                </th>
                <th align=left>
                    <label for="date_to">To</label>
                </th>
                <th align=left>
                    <label for="group">Group</label>
                </th>
                <th align=left>
                </th>
            </tr>
             <tr>
                <td>
                    <select id='selected_chart' name='selected_chart' style="width:150px;">
                        <!--{% for c in all_charts  %}-->
                            <!--<option {% if c in charts_list %}selected='selected' {% endif %} value="{{ c }}">{{ c }}</option>-->
                        <!--{% endfor %}-->
                        <option {% if selected_chart == 'All' %}selected="selected"{% endif %} value="All">All</option>
                        <option {% if selected_chart == 'DAU' %}selected="selected"{% endif %} value="DAU">DAU</option>
                        <option {% if selected_chart == 'Installs' %}selected="selected"{% endif %} value="Installs">Installs</option>
                        <option {% if selected_chart == 'Removals' %}selected="selected"{% endif %} value="Removals">Removals</option>
                        <option {% if selected_chart == 'Invites' %}selected="selected"{% endif %} value="Invites">Invites</option>
                        <option {% if selected_chart == 'Logins' %}selected="selected"{% endif %} value="Logins">Logins</option>
                        <option {% if selected_chart == 'Retention' %}selected="selected"{% endif %} value="Retention">Retention</option>
                        <option {% if selected_chart == 'Virality' %}selected="selected"{% endif %} value="Virality">Virality</option>
                        <option {% if selected_chart == 'Returning' %}selected="selected"{% endif %} value="Returning">Returning</option>
                        <option {% if selected_chart == 'Revenue' %}selected="selected"{% endif %} value="Revenue">Revenue</option>
                        <option {% if selected_chart == 'Items' %}selected="selected"{% endif %} value="Items">Items</option>
                    </select>
                </td>
                <td>
                    <select id='date_range' name="date_range" style="width:150px;" >
                        <option {% if date_range == '1' %}selected="selected"{% endif %} value="1">Last 1 day</option>
                        <option {% if date_range == '7' %}selected="selected"{% endif %} value="7">Last 7 days</option>
                        <option {% if date_range == '30' %}selected="selected"{% endif %} value="30">Last 30 days</option>
                        <option {% if date_range == 'custom' %}selected="selected"{% endif %} value="custom">Custom Range</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="date_from" id="date_from" style="width:210px;" value="{{ date_from }}"/>
                </td>
                <td>
                    <input type="text" name="date_to" id="date_to" style="width:210px;" value="{{ date_to }}"/>
                </td>
                <td>
                    <select id='group' name="group" style="width:120px;" >
                        <option {% if group == 'None' %}selected="selected"{% endif %} value="None">없음</option>
                        <option {% if group == 'level' %}selected="selected"{% endif %} value="level">레벨별</option>
                        <option {% if group == 'friends' %}selected="selected"{% endif %} value="friends">친구수별</option>
                    </select>
                </td>
                <td>
                    <input type="submit" class="button update" value="Update" />
                </td>
            </tr>
        </table>
    </form>
</h2>
<div>
<!--ㅡMain Menu -->
<h2>Dashboard</h2>
<!-- sub menu -->
<h3>Activity</h3>
<!-- Graphs ========================================================================= -->
<div id="charts" class="row-fluid">
{% for chart in charts_list %}
    <h2>{{ chart }}</h2>
    {% if charts_data[chart].__len__() > 0 %}
        <div class="span6" id="{{ chart }}_container" style="min-width: 400px; height: 400px; margin: auto"></div>
    {% else %}
        <div class='message'>No data</div>
    {% endif %}{# if_charts_data #}
{% endfor %}
</div>
<!-- sub menu -->
<h3>Monetization</h3>
<!-- chart view -->

<div class="chart">

</div>
<!-- sub menu -->
<h3>Events</h3>
<!-- chart view -->
<div class="chart"></div>
<!--ㅡMain Menu -->
<h2>Custom</h2>
<!-- sub menu -->
<h3>Activity</h3>
<!-- chart view -->
<div class="chart"></div>
<!-- sub menu -->
<h3>Monetization</h3>
<!-- chart view -->
<div class="chart"></div>
</div>
{% endblock %}

{% block js %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src='/media/js/jquery-ui-timepicker-addon.js'></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
$(function()  {

    {% for chart in charts_list  %}
    {% if charts_data[chart].__len__() > 0 %}
        {% if chart != 'Retention' %}
            var dump_data = {{ charts_data[chart] }};
            var x_range = [];
            var y_values = [];
            var {{ chart }}_series = [];

            for(var i = 0; i < dump_data.length; i++) {
                x_range.push(dump_data[i]['date']);
                y_values.push(dump_data[i]['counts']);
            }

            {{ chart }}_series.push({name: "{{ chart }}", data: y_values});

            var {{ chart }}_chart = new Highcharts.Chart({
                chart: {
                    renderTo: '{{ chart }}_container',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 60
                },
                title: {
                    text: '{{ chart }}',
                    x: -20 //center
                },
                subtitle: {
                    text: '',
                    x: -20
                },
                xAxis: {
                    categories: x_range,
                    title: {
                        text: 'date',
                        y: 20
                    }
                },
                yAxis: {
                    title: {
                        text: 'number'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                            '[ ' + this.x +', '+ this.y + ' ]';
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 30,
                    borderWidth: 0
                },
                series: {{ chart }}_series
            });
        {% else %}{# if 'Retention' #}
            var dump_data = {{ charts_data[chart] }};
            var x_range = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28];
            var {{ chart }}_series = [];

            for(var i = 0; i < dump_data.length; i++) {
                {{ chart }}_series.push({name: dump_data[i]['date'], data: dump_data[i]['ret']});
            }

            var {{ chart }}_chart = new Highcharts.Chart({
                chart: {
                    renderTo: '{{ chart }}_container',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 60
                },
                title: {
                    text: '{{ chart }}',
                    x: -20 //center
                },
                subtitle: {
                    text: '',
                    x: -20
                },
                xAxis: {
                    categories: x_range,
                    title: {
                        text: 'days later',
                        y: 20
                    }
                },
                yAxis: {
                    title: {
                        text: 'ratio'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.series.name + ' NRU' + '</b><br/>'+
                            '[ ' + this.x +', '+ this.y + ' ]';
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 30,
                    borderWidth: 0
                },
                series: {{ chart }}_series
            });
        {% endif %}{# if 'Retention' #}
    {% else %}{# len if-else #}
//        alert('There is no data');
    {% endif %}{# len #}
    {% endfor %}{# chart #}


    var endDate = -1; // 기준일: 하루전
    $("#date_from").datepicker({
        dateFormat:'yy-mm-dd',
        changeMonth:true,
        changeYear:true,
        showButtonPanel:true,
        beforeShow: function(element, object) {
            dateRange = $("#date_range option:selected").val();
            if ( dateRange == "custom" ) {
                return {
                    minDate: null,
                    maxDate: endDate
                }
            } else {
                startDate = - parseInt(dateRange);
                return {
                    minDate: startDate,
                    maxDate: endDate
                }
            }
        },
        onClose : function(dateText, inst) {
        },
        onSelect: function (selectedDateTime){
        }
    });
    $("#date_to").datepicker({
        dateFormat:'yy-mm-dd',
        changeMonth:true,
        changeYear:true,
        showButtonPanel:true,
        beforeShow: function(element, object) {
            dateRange = $("#date_range option:selected").val();
            if ( dateRange == "custom" ) {
                return {
                    minDate: null,
                    maxDate: endDate
                }
            } else {
                startDate = - parseInt(dateRange);
                return {
                    minDate: startDate,
                    maxDate: endDate
                }
            }
        },
        onClose : function(dateText, inst) {
        },
        onSelect: function (selectedDateTime){
        }
    });

});
</script>
{% endblock %}
