<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="js/jquery-latest.js"></script>
<script type="text/javascript" src="js/common_design.js"></script>
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="Wrap">
    
    	<!-- HeaderM S -->
    	<div id="HeaderM">
        	<h1><img src="images/common/img_appspand.png" alt="APPSPAND DataPRO" /></h1>
            <!-- ▽▽ Header LoginInfo ▽▽ -->
            <div class="loginInfo">
                <p class="txt">
                	Welcome! <span>admin</span>
                    <a href=""><img src="images/common/btn_logout.gif" alt="logout" class="btn" /></a>
                </p>
                <p class="marketBtn">
                <a href=""><img src="images/common/btn_apple.gif" alt="apple store"  /></a>
                <a href=""><img src="images/common/btn_google.gif" alt="Google market"  /></a>
                </p>
            </div>
             <!-- △△ Header LoginInfo △△ -->
             
             <!-- ▽▽ GNB ▽▽ -->
             <div id="Gnb">
             	<ul>
                	<a href=""><li>Home</li></a>
                    <a href=""><li class="on">Basic</li></a>
                    <a href=""><li>Analytics</li></a>
                    <a href=""><li>Operation</li></a>
                </ul>
             </div>
            <!-- △△ GNB △△ -->
        </div>
        <!-- HeaderM E -->
        
        <!-- Container S -->
        <div id="ContainerM">
         	<!-- ▽▽ Left-Container ▽▽ -->
        		<div id="LeftContainer">
                	<p class="gameLogo"><img src="images/common/img_gamelogo.gif" /></p>
                    <!-- sub menu -->
                    <ul class="sMenu">
                        <a href=""><li><img src="images/common/img_smenuicon_01.gif" />Dashboard</li></a>
                        <a href=""><li><img src="images/common/img_smenuicon_02.gif" />Custom</li></a>
                        <a href=""><li><img src="images/common/img_smenuicon_03.gif" />Funnel</li></a>
                        <a href=""><li><img src="images/common/img_smenuicon_04.gif" />Realtime</li></a>
                	</ul>
                    <!-- sub menu -->
                </div>
            <!-- △△ Left-Container △△ -->
            
            <!-- ▽▽ Contents-Container ▽▽ -->
        		<div id="ConContainer">
                	<!--ㅡMain Menu -->
                	<h2>Dashboard</h2>
                    <!-- sub menu -->
                    <h3>Activity</h3>
                    <!-- chart view -->
                    <div class="chart"></div>
                    <!-- sub menu -->
                    <h3>Monetization</h3>
                    <!-- chart view -->
                    <div class="chart"></div>
                    <!-- sub menu -->
                    <h3>Events</h3>
                    <!-- chart view -->
                    <div class="chart"></div>
                    <!--ㅡMain Menu -->
                    <h2>Custom</h2>
                    <!-- sub menu -->
                    <h3>Activity</h3>
                    <!-- chart view -->
                    <div class="chart"></div>
                    <!-- sub menu -->
                    <h3>Monetization</h3>
                    <!-- chart view -->
                    <div class="chart"></div>
                    
                </div>
            <!-- △△ Contents-Container △△ -->
        </div>
        <!-- Container E -->
        
        <!-- Footer S -->
        <div id="FooterM">copyright@</div>
        <!-- Footer E -->
    </div>
</body>
</html>
