{% extends "base.html" %}
{% block title %}
Processed Data
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block header %}
	<link rel="stylesheet" href="/media/css/chosen.css" />
	<link rel="stylesheet" href="/media/css/rickshaw.min.css" />
	<link rel="stylesheet" href="/media/css/chart.css" />
{% endblock %}
{% block content %}

<form action="{{ base_url|url('') }}">
<ul class='tabs'>
	<li>
		<div class="input_background system-charts-dropdown">
		<select id='processed-select' name='selected_data' style="width:200px;" tabindex="3" multiple="" data-placeholder="Select">
			{% for p in all_processed_list %}
				<option {% if p in selected_data %}selected='selected' {% endif %} value="{{ p }}">{{ p }}</option>
			{% endfor %}
		</select>
		</div>
	</li>
	<li>
		<label for="">From:</label>
		<div class="input_background">
			<input type="text" name='date_from' id="date_from" value="{{ date_from|date }}" />
		</div>
	</li>
	<li>
		<label for="">To:</label>
		<div class="input_background">
			<input type="text" name='date_to' id="date_to" value="{{ date_to|date }}" />
		</div>
	</li>
	<li class='with_button'>
	<input type="submit" class='button update' value="Update" />
	</li>
</ul>
</form>

{% for processed in processed_list %}
    {% set sanitized_processed = processed|clean_slashes %}
    <h2>{{ processed }}</h2>
    {% if processed_data[processed].clone().count() > 0 %}
    <h3>CPU</h3>
     <div id="{{ sanitized_processed }}_cpu" class='chart_container processed_data'>
        <div class='y_axis' id="cpu_{{ sanitized_processed }}_y_axis"></div>
        <div id="cpu-chart_{{ sanitized_processed }}" class='chart processed_data'></div>
    </div>

    <h3>Memory</h3>
     <div id="{{ sanitized_processed }}_memory" class='chart_container processed_data'>
        <div class='y_axis' id="memory_{{ sanitized_processed }}_y_axis"></div>
        <div id="memory-chart_{{ sanitized_processed }}" class='chart processed_data'></div>
    </div>
    {% else %}
    <div class='message'>No data</div>
    {% endif %}{# count #}
{% endfor %}

{% endblock %}
{% block js %}
<script type="text/javascript" charset="utf-8" src='/media/js/charts.min.js'></script>
<script type="text/javascript" src='/media/js/jquery-ui.min.js'></script>
<script type="text/javascript" src='/media/js/jquery-ui-timepicker-addon.js'></script>
<script type="text/javascript" src='/media/js/chosen/chosen.jquery.min.js'></script>
<script type="text/javascript">
$(function()  {
    // Common variables and functions
    var width = 865;
    var height = 200;
    var padding = { top: 0.09, right: 0, bottom: 0, left: 0 } 
    function _format_date(date) {
        _date = new Date(date*1000).toUTCString();
		return '<span class="date">'+ moment.utc(_date).format("DD.MM.YY H:mm:ss") + '</span>';
    }
    var colors = ['#00ADFC', '#7AB317', '#8000A9']   
   
{% for processed in processed_data %}
{% set sanitized_processed = processed|clean_slashes %}

{% if processed_data[processed].clone().count() > 0 %}
var {{ sanitized_processed }}_memory_graph = new Rickshaw.Graph({
	element: document.getElementById("memory-chart_{{ sanitized_processed }}"),
	width: width,
	height: height,
	renderer: 'line',
    padding: padding, 
    {% strip %}
	series: [
		{   color: colors[0],
            data: [{% for data in processed_data[processed].clone()%}
            {% if zone_difference.0 == 'negative' %}{x:{{ data.time-zone_difference.1 }},
            {% else %}{x: {{ data.time+zone_difference.1 }}, {% endif %} y: {{ data.memory }} },{% endfor %}],
			name: 'Memory'
		}]
    {% endstrip %}
});

{{ sanitized_processed }}_memory_graph.render();

var memory_hover = new Rickshaw.Graph.HoverDetail({
    graph: {{ sanitized_processed }}_memory_graph,
    formatter: function(series, x, y) {
		var date = _format_date(x);
		var content = '<span class="metric">' + series.name + ": " + parseInt(y) + 'MB</span>' + date;
		return content;
    }
});


var {{ sanitized_processed }}_memory_x = new Rickshaw.Graph.Axis.Time({
    graph: {{ sanitized_processed }}_memory_graph,
});


var {{ sanitized_processed }}_memory_y = new Rickshaw.Graph.Axis.Y({
    graph: {{ sanitized_processed }}_memory_graph,
    tickFormat: function(y) { return y +'MB'}, 
    element: document.getElementById('memory_{{ sanitized_processed }}_y_axis'),
});

{{ sanitized_processed }}_memory_x.render();
{{ sanitized_processed }}_memory_y.render();

// CPU
var {{ sanitized_processed }}_cpu_graph = new Rickshaw.Graph({
	element: document.getElementById("cpu-chart_{{ sanitized_processed }}"),
	width: width,
	height: height,
	renderer: 'line',
    padding: padding, 
    {% strip %}
	series: [
		{   color: colors[1],
            data: [{% for data in processed_data[processed].clone()%}
            {% if zone_difference.0 == 'negative' %}{x:{{ data.time-zone_difference.1 }},
            {% else %}{x: {{ data.time+zone_difference.1 }}, {% endif %} y: {{ data.cpu }} },{% endfor %}],
			name: 'CPU'
		}]
    {% endstrip %}
});

{{ sanitized_processed }}_cpu_graph.render();

var cpu_hover = new Rickshaw.Graph.HoverDetail({
    graph: {{ sanitized_processed }}_cpu_graph,
    formatter: function(series, x, y) {
		var date = _format_date(x);
		var content = '<span class="metric">' + series.name + ": " + parseInt(y) + '%</span>' + date;
		return content;
    }
});


var {{ sanitized_processed }}_cpu_x = new Rickshaw.Graph.Axis.Time({
    graph: {{ sanitized_processed }}_cpu_graph,
});


var {{ sanitized_processed }}_cpu_y = new Rickshaw.Graph.Axis.Y({
    graph: {{ sanitized_processed }}_cpu_graph,
    tickFormat: function(y) { return y +'%'}, 
    element: document.getElementById('cpu_{{ sanitized_processed }}_y_axis'),
});

{{ sanitized_processed }}_cpu_x.render();
{{ sanitized_processed }}_cpu_y.render();

{%  endif %}{# count #}
{% endfor %}{# processed #}

var datetime_options = {
	separator: '-',
	dateFormat: 'dd-mm-yy',  
	timeFormat: 'hh:mm',
	hourGrid: 2,
	minuteGrid: 10,
	maxDate: new Date({{ max_date*1000 }})

};
$('#date_from').datetimepicker(datetime_options);
$('#date_to').datetimepicker(datetime_options);
$("#processed-select").chosen();

});
</script>

{% endblock %}
