@charset "utf-8";
/* CSS Document */

@import "common.css";
@import "layout.css";

#ConContainer h2 {min-width:940px; width:99%; background:url('../images/common/bg_h2.gif') no-repeat left bottom; padding-left:10px; font-size:16px; font-weight:bold; color:#200c40; line-height:36px; margin-bottom:15px; border-bottom:1px solid #ececec; }
#ConContainer h3 {background:url('../images/common/bg_chart.gif') no-repeat left 5px; padding-left:10px; font-size:14px; font-weight:bold; color:#4a4a4a; margin:0 0 10px 10px; }
#ConContainer .chart {height:100px; background:#ececec;}

