<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %} {% endblock %}</title>
<script type="text/javascript" src="media/js/jquery-latest.js"></script>
<script type="text/javascript" src="media/js/common_design.js"></script>
<link href="media/css/main.css" rel="stylesheet" type="text/css">
{% block head %}
{% endblock %}
</head>

<body>
	<div id="Wrap">
    
    	<!-- HeaderM S -->
    	<div id="HeaderM">
        	<h1><img src="media/images/common/img_appspand.png" alt="APPSPAND DataPRO" /></h1>
            <!-- ▽▽ Header LoginInfo ▽▽ -->
            <div class="loginInfo">
                <p class="txt">
                	Welcome! <span>username</span>
                    <a href="{{base_url|url('logout')}}"><img src="media/images/common/btn_logout.gif" alt="logout" class="btn" /></a>
                </p>
                <p class="marketBtn">
                <a href=""><img src="media/images/common/btn_apple.gif" alt="apple store"  /></a>
                <a href=""><img src="media/images/common/btn_google.gif" alt="Google market"  /></a>
                </p>
            </div>
             <!-- △△ Header LoginInfo △△ -->
             
             <!-- ▽▽ GNB ▽▽ -->
             <div id="Gnb">
             	<ul>
                	<a href="/"><li class='{% if current_page=='index' %}on{% endif %}'>Home</li></a>
                    <a href="/basic"><li class='{% if current_page=='basic' %}on{% endif %}'>Basic</li></a>
                    <a href="/analytics"><li class='{% if current_page=='analytics' %}on{% endif %}'>Analytics</li></a>
                    <a href="/operation"><li class='{% if current_page=='operation' %}on{% endif %}'>Operation</li></a>
                </ul>
             </div>
            <!-- △△ GNB △△ -->
        </div>
        <!-- HeaderM E -->
        
        <!-- Container S -->
        <div id="ContainerM">
         	<!-- ▽▽ Left-Container ▽▽ -->
        		<div id="LeftContainer">
                	<p class="gameLogo"><img src="media/images/common/img_gamelogo.gif" /></p>
                    <!-- side sub menu -->
                    {% block sidemenu %}
                    {% endblock %}
                    <!-- side sub menu -->
                </div>
            <!-- △△ Left-Container △△ -->
            
            <!-- ▽▽ Contents-Container ▽▽ -->
        		<div id="ConContainer">
                	{% block content %}
                    {% endblock %}
                </div>
            <!-- △△ Contents-Container △△ -->
        </div>
        <!-- Container E -->
        
        <!-- Footer S -->
        <div id="FooterM">copyright@</div>
        <!-- Footer E -->
    </div>
{% block js %}
{% endblock %}
</body>
</html>